
* {box-sizing: border-box;}

.header {
    padding: 10px 5px;
     background: linear-gradient(45deg, rgb(255, 225, 170), rgb(255, 205, 131));
     border-radius: 20px;
     /* display: inline-block; */
     overflow:auto;
 }

.header logo{
    float: left;
}

.header img{
    width: 75px;
    height: auto;
}

.header a
{
    float: right; 
    border-radius: 20px;
    background-color: #deb887;
    padding: 10px 5px;
    margin: 10px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(255, 238, 215);
    text-decoration: none;
    transition: 0.2s;
}

.header a:hover{
    background-color:rgb(119, 101, 78);
    color:rgb(169, 158, 143);
}

.header input
{
    float:right;
    height: 55px;
    width: 35%;
    border-radius: 20px;
    font-size: 30px;
    padding: 10px 5px;
    margin: 10px;
    background-color: rgb(255, 238, 215);
    background-image: url('search.ico');
    background-position: 15px 50%; 
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-left: 45px;
    padding-top: 12px;
}

.news 
{
    padding: 5px 5px;
    border:3px solid #deb887;
    border-radius: 20px;
    width: 300px;
    height: min-content;
    margin: 10px;
    margin-left: 0px;
}

.left-panel
{
    height: min-content;
    float:left;
}

.news h1 
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(119, 101, 78);
    size: 10px;
    border-bottom: 2px solid;
    border-bottom-color: #deb887;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 5px;
}

.filters h1 
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(119, 101, 78);
    size: 10px;
    border-bottom: 2px solid;
    border-bottom-color: #deb887;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 5px;
}

.news p
{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(119, 101, 78);
    size: 5px;
    text-align: left;
    margin-top: 1px;
}

.filters
{
    padding: 5px 5px;
    border:3px solid #deb887;
    border-radius: 20px;
    width: 300px;
    height: min-content;
    margin: 10px;
    margin-left: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width: 750px) {
    .news
    {
        width: 100%;
        float: none;
    }
    .filters
    {
        width: 100%;
        float: none;
    }
    .left-panel
    {
        height: min-content;
        float:none;
        flex-grow: 1;
    }
    .catalogue
    {
        float:none;
        flex-grow: 1;
    }
    .bottom-content
    {
        display: flex;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 475px) {
    .header input
    {
        width: 95%;
        margin-left: 10px;
    }
}

@media handheld {
    .news
    {
        width: 100%;
        float: none;
    }
    .filters
    {
        width: 100%;
        float: none;
    }
    .left-panel
    {
        height: min-content;
        float:none;
        flex-grow: 1;
    }
    .bottom-content
    {
        flex-wrap: wrap;
    }
}


.checkboxes
{
    display: flex;
    flex-wrap: wrap;
}
.checkbox-label
{
    flex-grow: 1;
    float:left;
    border-radius: 20px;
    margin-top: 10px;
}

.checkbox-text
{
    float:center;
    padding: 5px;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.2s;
    border:3px solid #deb887;
    color: rgb(119, 101, 78);
    font-family: Arial, Helvetica, sans-serif;
    size: 20px;
    font-weight: bold;
}

.checkbox-text:hover
{
    color: white;
    background-color: #deb887;
}

input[type=checkbox]{
    display: none;
  }

input[type=checkbox]:checked ~ div {
    background-color: rgb(163, 139, 108);
    color: white;
  }

  .checkbox-text p{
    text-align: center;
    margin: 5px;
}

.bottom-content
{
    display: flex;
    width: 100%;
}

.catalogue
{
    /* border:3px solid #deb887; */
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    float: right;
    flex-grow: 1;
    margin-top: 10px;
    padding: 0px;
    justify-content: space-around;
}

.product
{
    padding: 5px 5px;
    border:3px solid #deb887;
    border-radius: 20px;
    flex: 1 0 300px;
    height: 350px;
    float: left;
    text-decoration: none;
    margin-bottom: 10px;
    margin-right: 3px;
    max-width: 350px;
}

.catalogue a:hover
{
    background-color: #f0e8dd;
}

.product h1
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: rgb(119, 101, 78);
    border-bottom: 2px solid;
    border-bottom-color: #deb887;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.product img
{
    width: 98%;
    height: 60%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
}

.price
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-top: 5px;
    margin-left: 5px;
    float:left;
}

.flavor
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    float:right;
}

.records
{
    display: flexbox;
    flex: wrap;
}

.weight
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(119, 101, 78);
    margin-top: 5px;
    margin-right: 15px;
    float:right;
    width: 100px;
    text-align: right;
}

.pages
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:black;
    transition: 0.2s;
}



.page-selector
{
    float:center;
    background-color: #deb887;
    border:3px solid black;
    border-radius: 20px;
}

.page-selector p
{
    float:left;
    padding: 10px 5px;
    margin:0px 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 50px;
    text-align: center;
}

.page-selector input
{
    float:left;
    padding: 10px 5px;
    width: 35px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: transparent;
    border-width: 0px;
    transition: 0.2s;
}

.page-selector input:hover
{
    background-color:rgb(119, 101, 78);
}

#left-button
{
    border-radius: 20px 0px 0px 20px;
}

#right-button
{
    border-radius: 0px 20px 20px 0px;
}
/* Main page styles ended 

Product Description started*/

.nice-pictures
{
    margin-top: 20px;
    padding: 5px 5px;
    border:3px solid #deb887;
    border-radius: 20px;
    width: 800px;
    height: min-content;
    margin: 10px;
    flex: 1 1 60%;
    display: block;
    flex-wrap: wrap;
}

.nice-pictures img
{
    display: block;
    width: 70%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    clear: both;
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
}

.nice-pictures h1
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: rgb(119, 101, 78);
    border-bottom: 2px solid;
    border-bottom-color: #deb887;
    text-align: left;
    margin-left: 15px;

    
}

.Pictures-Heading
{
    float:left;
}

.Pictures-Characteristics
{
    float:right;
}

.Pictures-Characteristics p
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    float:left;
    margin-right: 10px;
}

.buy
{
    margin-top: 20px;
    padding: 5px 5px;
    padding-top: 15px;
    border:3px solid #deb887;
    border-radius: 20px;
    width: 300px;
    height: min-content;
    margin: 10px;
    flex: 1 1 30%;
    display: block;
    flex-wrap: wrap;
    float:right;
}

.bottom-content-description
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.desctiption
{
    clear:both;
    display: block;
    float:left;
    flex: 1 1 60%;
    margin-top: 20px;
    padding: 5px 5px;
    border:3px solid #deb887;
    border-radius: 20px;
    height: min-content;
    margin: 10px;
}

.empty
{
    flex: 1 1 30%;
    margin: 10px;
}

.desctiption h1
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: rgb(119, 101, 78);
    border-bottom: 2px solid;
    border-bottom-color: #deb887;
    text-align: left;
    margin-left: 15px;
}

.desctiption p
{
    text-align: left;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


@media screen and (max-width: 750px) {
    .desctiption
    {
        flex: 1 1 100%;
    }

    .nice-pictures
    {
        flex: 1 1 100%;
    }
    .buy
    {
        flex: 1 1 100%;
    }
    .nice-pictures img
    {
        width: 90%;
        float: none;
        margin: auto;
        margin-bottom: 15px;
    }

}

@media screen and (max-width: 446px) {
    .Pictures-Characteristics
    {
        float: left;
        margin-left: 15px;
    }
}


@media handheld {
    .desctiption
    {
        flex: 1 1 100%;
    }

    .nice-pictures
    {
        flex: 1 1 100%;
    }
    .buy
    {
        flex: 1 1 100%;
    }
    .nice-pictures img
    {
        width: 90%;
        float: none;
        margin: auto;
        margin-bottom: 15px;
    }

}

.pages
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:black;
    transition: 0.2s;
}


.amount-selector
{
    display: block;
    float:left;
    background-color: #deb887;
    border:3px solid black;
    border-radius: 20px;
}

.Availability p
{
    clear: both;
    float:left;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: auto;
    text-align: left;
}

.amount-selector p
{
    float:left;
    padding: 10px 5px;
    margin:0px 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 50px;
    text-align: center;
}

.amount-selector input
{
    float:left;
    padding: 10px 5px;
    width: 35px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: transparent;
    border-width: 0px;
    transition: 0.2s;
}

.amount-selector input:hover
{
    background-color:rgb(119, 101, 78);
}

.price-page
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-top: 5px;
    margin-left: 5px;
    float:right;
}

@media screen and (max-width: 881px) {
.price-page
{
    float:left;
}
}

@media screen and (max-width: 750px)
{
    .price-page
{
    float:right;
}
}
@media handheld
{
    .price-page
{
    float:right;
}
}

.price-page p
{
    margin: 0px;
}

.buy-thing
{
    display: block;
    clear: all;
    float: right;
    width: 100%; 
    margin-left: 15px;
    margin-top: 15px;
}

.buy-button
{
    width: 100%;
    border-radius: 15px;
    background-color: #deb887;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(255, 238, 215);
    text-decoration: none;
    transition: 0.2s;
}

.buy-thing input:hover{
    background-color:rgb(119, 101, 78);
    color:rgb(169, 158, 143);
}

/* Shopping cart page */

.bottom-content-shoppingcart
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.list
{
    margin-top: 20px;
    padding: 5px 5px;
    border:3px solid #deb887;
    border-radius: 20px;
    height: min-content;
    margin: 10px;
    margin-left: 0px;
    flex: 1 1 60%;
    display: flex;
    flex-wrap: wrap;
}

.list-product
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #deb887;
    align-items: center;
    justify-content: flex-end;
}

.list-product p
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    float:left;
    margin-right: 10px;
    margin-bottom: 0px;
    padding-left: 15px;
}

.cart-heading
{
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;

}

.cart-heading h1 
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(119, 101, 78);
    size: 10px;
    text-align: left;
    padding-left: 15px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    border-bottom: 2px solid;
    border-bottom-color: #deb887;
}

.buy-all
{
    margin-top: 20px;
    padding: 5px 5px;
    border:3px solid #deb887;
    border-radius: 20px;
    width: 300px;
    height: min-content;
    margin: 10px;
    margin-left: 0px;
    flex: 1 1 30%;
    display: flex;
    flex-wrap: wrap;
    float:right;
}

.cart-amount
{
    display: flex;
    float:right;
    background-color: #deb887;
    border:3px solid black;
    border-radius: 20px;
    height: 80%;
    margin-top:auto;
}

.cart-amount-selector p
{
    /* float:left; */
    padding: 5px 5px;
    margin:0px 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 30px;
    text-align: center;
}

.cart-amount-selector input
{
    float:left;
    padding: auto;
    width: 35px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: transparent;
    border-width: 0px;
    transition: 0.2s;
    height: 100%;
}

.cart-amount-selector input:hover
{
    background-color:rgb(119, 101, 78);
}

.cart-price
{
    display: flex;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: black;
    float:right;
}

.cart-name
{
    flex: 0%;
    display: flex;
    float:left;
}

.cart-name p{
    text-align: left;
}

@media screen and (max-width: 750px)
{
.list
{
    float: none;
    flex: none;
    width: 100%;
}

.buy-all
{
    flex: none;
    float:none;
    width: 100%;
}
}
@media handheld
{
    .price-page
{
    float:right;
}
.list
{
    float: none;
    flex: none;
    width: 100%;
}

.buy-all
{
    flex: none;
    float:none;
    width: 100%;
}
}

.total-price
{
    display: flex;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    float:right;
}

#total
{
    display: flex;
    float: left;
    flex: 1 1 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    float:right;
}

.pay
{
    display: block;
    clear: all;
    float: right;
    width: 100%; 
    margin-top: 15px;
}

.pay-button
{
    width: 100%;
    border-radius: 15px;
    background-color: #deb887;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(255, 238, 215);
    text-decoration: none;
    transition: 0.2s;
}

.pay input:hover{
    background-color:rgb(119, 101, 78);
    color:rgb(169, 158, 143);
}